<%= form_with(data: { controller: "ratystar" }) %>
<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p></p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image, class: 'image'), movie %>
        <h4><%= link_to movie.title, movie_path(:id => movie.id), class: "movie-show-link" %></h4>
        <i id="star-rating"></i>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= link_to "Last Page", movies_path(page:@page-1 && @page >= 0) %>
  |
  <%= link_to "Next Page", movies_path(page:@page+1) %>
</div>
